.portfolio {
    
    &__pictures--1 {
        background-color: $color-primary;
        grid-column: full-start / col-end 4;
        background-image: linear-gradient(rgba($color-primary, .1), rgba($color-primary, .1)), url(../img/interior4.jpg);
        background-size: cover;

        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(6, 1fr);
        align-items: center;
        filter: brightness(0.85);
        

        @media only screen and (max-width: $bp-medium) {
            grid-column: 1 / -1;
            padding: 6rem;
        }
    }
    &__pictures--2 {
        background-color: $color-primary;
        grid-column: full-start / col-end 4;
        background-image: linear-gradient(rgba($color-primary, .1), rgba($color-primary, .1)), url(../img/traum4.jpg);
        background-size: cover;

        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(6, 1fr);
        align-items: center;
        filter: brightness(0.85);
        

        @media only screen and (max-width: $bp-medium) {
            grid-column: 1 / -1;
            padding: 6rem;
        }
    }
    &__pictures--3 {
        background-color: $color-primary;
        grid-column: full-start / col-end 4;
        background-image: linear-gradient(rgba($color-primary, .1), rgba($color-primary, .1)), url(../img/clinic1.jpg);
        background-size: cover;

        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(6, 1fr);
        align-items: center;
        filter: brightness(0.85);
        

        @media only screen and (max-width: $bp-medium) {
            grid-column: 1 / -1;
            padding: 6rem;
        }
    }

    &__img--1 {
        width: 100%;
        grid-row: 2 / 6;
        grid-column: 2 / 6;
        box-shadow: 0 2rem 5rem rgba(#000, .1);
        border-radius: 3px;
        transition: all 1s ease;

        &:hover{
            transform: translateY(-2px)scale(1.1);
            z-index: 21;
        }   

        @media only screen and (max-width: $bp-medium) {
            grid-column: 1 / 5;
            grid-row: 1 / -1;
        }
    }

    &__img--2 {
        width: 115%;
        grid-row: 4 / 6;
        grid-column: 4 / 7;
        z-index: 20;
        box-shadow: 0 2rem 5rem rgba(#000, .2);
        border-radius: 3px;
        transition: all 1s ease;

        &:hover{
            transform: translateY(-2px)scale(1.1);
        }   

        @media only screen and (max-width: $bp-medium) {
            grid-row: 1 / -1;
            width: 100%;
        }
    }

    &__content {
        background-color: $color-grey-light-1;
        grid-column: col-start 5 / full-end;
        padding: 6rem 8vw;
        display: grid;
        align-content: center;
        //justify-items: start;
        grid-template-columns:  minmax(41rem, min-content);

        @media only screen and (max-width: $bp-medium) {
            grid-column: 1 / -1;
            justify-content: center;
        }
        @media only screen and (max-width: $bp-small) {
            padding: 3rem 8vw;
        }


        h2{
            display: grid;
            grid-column: col-start 0 / -1;
            font-size: 3.5rem;
            justify-self: center;

             @media only screen and (max-width: $bp-medium) {
               font-size: 3rem;
            }
             @media only screen and (max-width: $bp-small) {
               font-size: 2.5rem;
            }
        }

        h3 {
            font-family: $font-secondary;
            font-weight: 400;
            font-size: 1.7rem;
            line-height: 1.5;
            color: $color-grey-dark-1;
            grid-column: col-start 0 / -1;
            grid-row: 2 / 3;
            justify-self: start;
            display: grid;

            @media only screen and (max-width: $bp-medium) {
                justify-self: center;
            }
        }
        p{
            grid-column: col-start 0 / -1;
            font-size: 1.8rem;
            grid-row: 3 /4;
            font-family: $font-secondary;
            -webkit-hyphens: auto;
            hyphens: auto;
        }
        .btn {
            grid-row: 4 /5;
            justify-self: start;

            @media only screen and (max-width: $bp-medium) {
                justify-self: center;
                margin-bottom: 5rem;
                padding: 1.5rem;
            }
            @media only screen and (max-width: $bp-medium) {
                margin-bottom: 3rem;
            }
        }
    }
}
