<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
 
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Nunito:300,300i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bellefair&display=swap" rel="stylesheet">
    <link href=" https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/style.css" />
    <link rel="shortcut icon" type="image/png" href="img/mideol-ico.png" />

    <title>Mideol Designs &mdash; about-us</title>
  </head>
  <body class="container-about">

    <div class="sidebar">
        <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
        <label for="navi-toggle" class="navigation__button">
          <span class="navigation__icon">&nbsp;</span>
        </label>
        <div class="navigation__background">&nbsp;</div>
        <nav class="navigation__nav">
          <ul class="navigation__list">
           <li class="navigation__item"><a href="/" class="navigation__link"><span>01</span>Home</a></li>
        <li class="navigation__item"><a href="/about-us" class="navigation__link"><span>02</span>About Us</a></li>
        <li class="navigation__item"><a href="/portfolio" class="navigation__link"><span>03</span>Portfolio</a></li>
        <li class="navigation__item"><a href="/contact" class="navigation__link"><span>04</span>Contact Us</a></li>
     </ul>
        </nav>
      </div>
    </div>
    
    
    <header class="header-about">
       <a class="logo__link" href="/"><img src="img/mideol-logo.png" alt="Nexter logo" class="header__logo"></a>
       <h1 class="header-text">About <span>Mideol Designs</span></h1>
        <!-- <p class="text">&mdash; Lorenzo Florentini</p> -->
    </header>

     <div class="services">
      <h3 class="heading-3 heading-colored heading-3--animated mt-sm">What We Do</h3>
      <div class="services__list services--animated">
        <ul>
          <li class="list-item">&mdash; Interior space designs</li>
          <li class="list-item">&mdash; Project management</li>
          <li class="list-item">&mdash; Construction</li>
          <li class="list-item">&mdash; Building cost management</li>
          <li class="list-item">&mdash; Comparative analysis procurement</li>
          <li class="list-item">&mdash; Project monitoring</li>
          <li class="list-item">&mdash; Developing and presenting project proposals</li>
          <li class="list-item">&mdash; Architectural drawings</li>
          <li class="list-item">&mdash; Blueprints</li>
          <li class="list-item">&mdash; Specifications and construction documents</li>
        </ul>
      </div>
    </div>

    <section class="about">
      <div class="abt">
        <div class="abt__text abt__text--animated">
         <p>Founded in 2016,  Mideol Designs is a construction and design company based in Lagos, Nigeria. We've spent
           the last four years <strong>completing projects</strong> that we are <strong>passionate</strong> about and leaving 
           <strong>lasting impressions</strong> on every single one of our client's delight. <br>
            Mideol Design's Architects’ extensive range of experience encompasses residential and commercial projects of diverse 
            character and appeal. Our experienced and talented staff bring an intuitive sense of creativity and ingenuity to every 
            facet of the architectural process.</p>
           <p id="dark">Why Our Clients Call Us: </p>
             <ol>
              <li class="about-item">We offer value for money. A lot of our repeat clients have mentioned that when they 
             work with us, they are guaranteed to get what they payed for.</li>
              <li class="about-item">We deliver on our promises. We never risk the integrity of our word, so when you choose
              us, our agreement is a guarantee of your work being accomplished exactly as it as been stated.</li>
            </ol>
        </div>
      </div>
    </section>

     <section class="features">
      <div class="feature">
        <svg class="feature__icon">
          <use xlink:href="img/sprite.svg#icon-trophy"></use>
        </svg>
        <h4 class="heading-4 heading-4--dark">Mission</h4>
        <p class="feature__text">To set an industry standard by paying attention to details, adhering 
          to strict project timelines and providing a high degree of professionalism.</p>
      </div>

      <div class="feature">
        <svg class="feature__icon">
          <use xlink:href="img/sprite.svg#icon-presentation"></use>
        </svg>
        <h4 class="heading-4 heading-4--dark">Vision</h4>
        <p class="feature__text">Leading the construction and design 
          industry by incorporating innovation and tailored technology solutions to construction methods.</p>
      </div>

      <div class="feature">
        <svg class="feature__icon">
          <use xlink:href="img/sprite.svg#icon-key"></use>
        </svg>
        <h4 class="heading-4 heading-4--dark">Values</h4>
        <p class="feature__text">At our core, our values are; integrity, honesty, trust, accountability, 
          continous improvement and quality.</p>
      </div>
    </section>

    <div class="teams__heading">
        <h2 id="team-head" class="heading-3">Meet our team of experts</h2>
    </div>

    <section class="teams">
      <div class="team">
          <img src="img/founder-1.jpg" alt="House 1" class="team__img">
          <!-- <svg class="team__like">
              <use xlink:href="img/sprite.svg#icon-heart-full"></use>
          </svg> -->
          <h5 class="team__name">Odunayo Babafemi</h5>
          <div class="team__rooms">
              <svg>
                  <use xlink:href="img/sprite.svg#icon-profile-male"></use>
              </svg>
              <p>Principal Partner</p>
          </div>
          <div class="team__role">
              <svg>
                  <use xlink:href="img/sprite.svg#icon-key"></use>
              </svg>
              <p>Project Designs</p>
          </div>
           <div class="team__role">
              <svg>
                  <use xlink:href="img/sprite.svg#icon-key"></use>
              </svg>
              <p>Construction management</p>
          </div>
      </div>

      <div class="team">
          <img src="img/founder-2.jpg" alt="House 3" class="team__img">
          <!-- <svg class="team__like">
              <use xlink:href="img/sprite.svg#icon-heart-full"></use>
          </svg> -->
          <h5 class="team__name">Damilola Babafemi</h5>
          <div class="team__rooms">
              <svg>
                  <use xlink:href="img/sprite.svg#icon-profile-male"></use>
              </svg>
              <p>Associate Partner</p>
          </div>
         <div class="team__role">
              <svg>
                  <use xlink:href="img/sprite.svg#icon-key"></use>
              </svg>
              <p>Project Designs</p>
          </div>
          <div class="team__role">
              <svg>
                  <use xlink:href="img/sprite.svg#icon-key"></use>
              </svg>
              <p>Interior Design & Detail Finishes</p>
          </div>
      </div>

      <div class="team">
          <img src="img/founder-33.jpg" alt="House 2" class="team__img">
          <!-- <svg class="team__like">
              <use xlink:href="img/sprite.svg#icon-heart-full"></use>
          </svg> -->
          <h5 class="team__name">Adesunloye Ayodele</h5>
          <div class="team__rooms">
              <svg>
                  <use xlink:href="img/sprite.svg#icon-profile-male"></use>
              </svg>
              <p>Lead Engineer</p>
          </div>
           <div class="team__role">
              <svg>
                  <use xlink:href="img/sprite.svg#icon-key"></use>
              </svg>
              <p>Road management</p>
          </div>
           <div class="team__role">
              <svg>
                  <use xlink:href="img/sprite.svg#icon-key"></use>
              </svg>
              <p>Building Construction</p>
          </div>
      </div>
    </section>

    <footer class="footer">
     <div class="container">
        <div class="row">
          <div class="col-md-4">
            <img src="img/mideol-logo.png" alt="" class="footer-logo">
            <p class="mt-sm">Address:
              Head Office 2 Arogundade Street, Aguda, Surulere, Lagos.</p>
          </div>

          <div class="col-md-4">
            <h4 class="heading-colored mb-sm">Quick Contact</h4>
           <p><i class="fa fa-phone-square"></i> (+234) 8060715153</p>
            <p><i class="fa fa-envelope"></i> info@mideoldesigns.com</p>
            <p><i class="fa fa-whatsapp"></i> (+234) 8060715153</p>
            <p><i class="fa fa-home"></i>Surulere, Lagos State, Nigeria</p>
          </div>
          <div class="col-md-4">
            <h4 class="heading-colored mb-sm">Follow Us On</h4>
            <p><i class="fa fa-facebook-official"></i> Facebook</p>
            <p><i class="fa fa-linkedin-square"></i> Linkedin</p>
            <p><i class="fa fa-twitter"></i> Twitter</p>
          </div>
        </div><hr>
        <p class="copyright">&copy; 2020 Mideol Designs</p>
      </div>
    </footer>
  </body>
</html>