<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
 
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Nunito:300,300i" rel="stylesheet">
    <link href=" https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bellefair&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../css/style.css" />
    <link rel="shortcut icon" type="image/png" href="../img/mideol-ico.png" />

    <title>Mideol Designs &mdash; residential</title>
  </head>
  <body class="container-page">
    <div class="sidebar">
     <div class="navigation">
    <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
    <label for="navi-toggle" class="navigation__button">
      <span class="navigation__icon">&nbsp;</span>
    </label>
    <div class="navigation__background">&nbsp;</div>
    <nav class="navigation__nav">
      <ul class="navigation__list">
       <li class="navigation__item"><a href="/" class="navigation__link"><span>01</span>Home</a></li>
        <li class="navigation__item"><a href="/about-us" class="navigation__link"><span>02</span>About Us</a></li>
        <li class="navigation__item"><a href="/portfolio" class="navigation__link"><span>03</span>Portfolio</a></li>
        <li class="navigation__item"><a href="/contact" class="navigation__link"><span>04</span>Contact Us</a></li>

    </ul>
    </nav>
  </div>
    </div>
    
    <header class="header-residential">
      <a class="logo__link" href="/"><img src="../img/mideol-logo.png" alt="Mideol logo" class="header__logo"></a>
       <h1 class="header-text">Resi<span>dential</span></h1>
       <!-- <p class="text">&mdash; matthais grey</p> -->
    </header>
    

    <div class="residential">
      <div class="residential__list residential--animated">
        <ul>
          <li class="list-item">&mdash; Interior space designs</li>
          <li class="list-item">&mdash; Single Family Home</li>
          <li class="list-item">&mdash; Condominium</li>
        </ul>
      </div>
    </div>

    <div class="page">
      <img src="../img/inter4.jpg" alt="main-img" class="page__img--1">
    </div>

    <div class="page__content">
      <h3 class="main-content">Three interior finishes of a 4 bedroom duplex</h3>
    </div>

    <section class="sub">
      <figure class="sub_item sub__item--1">
        <img src="../img/inter1.jpg" alt="sub image 1" class="sub__img">
      </figure>
      <figure class="sub_item sub__item--2">
        <img src="../img/inter2.jpg" alt="sub image 2" class="sub__img">
      </figure>
      <figure class="sub_item sub__item--3">
        <img src="../img/inter3.jpg" alt="sub image 3" class="sub__img">
      </figure>
      <figure class="sub_item sub__item--4">
        <img src="../img/inter5.jpg" alt="sub image 4" class="sub__img">
      </figure>
    </section>

    <footer class="footer-residential">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <img src="../img/mideol-logo.png" alt="" class="footer-logo">
            <p class="mt-sm">Address:
              Head Office 2 Arogundade Street, Aguda, Surulere, Lagos.</p>
          </div>

          <div class="col-md-4">
            <h4 class="heading-colored mb-sm">Quick Contact</h4>
           <p><i class="fa fa-phone-square"></i> (+234) 8060715153</p>
            <p><i class="fa fa-envelope"></i> info@mideoldesigns.com</p>
            <p><i class="fa fa-whatsapp"></i> (+234 8060715153</p>
            <p><i class="fa fa-home"></i>Surulere, Lagos State, Nigeria</p>
          </div>
          <div class="col-md-4">
            <h4 class="heading-colored mb-sm">Follow Us On</h4>
            <p><i class="fa fa-facebook-official"></i> Facebook</p>
            <p><i class="fa fa-linkedin-square"></i> Linkedin</p>
            <p><i class="fa fa-twitter"></i> Twitter</p>
          </div>
        </div><hr>
        <p class="copyright">&copy; 2020 Mideol Designs</p>
      </div>
    </footer>
  </body>
</html>